@use "sass:color";

.navbar {
  overflow: hidden;
  background-color: $navColor;

  a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 0.875rem 1.25rem;
    text-decoration: none;

    &:hover {
      background-color: grey;
      color: black;
    }
  }

  .logout {
    float: right;
  }

  .login{
    float: right;
  }

  .register{
    float: right;
  }
}

.dropdown {
  float: left;
  overflow: hidden;

  .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 

    &:hover {
      background-color: grey;
    }
  }


  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

  
    a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;

      &:hover {
        background-color: grey;
      }
    }
  }

  &:hover {
    .dropdown-content {
      display: block;
    }
  }
}


