@use "sass:color";

.navbar {
  overflow: hidden;
  background-color: color.scale(#001f3f, $lightness: 10%);

  a {
    float: left;
    display: block;
    color: color.adjust(#fff, $lightness: -10%);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    &:hover {
      background-color: color.scale(#555, $lightness: -10%);
      color: color.adjust(#fff, $lightness: -10%);
    }
  }
}
